﻿@{
    ViewData["Title"] = "About Dad";
}

<div id="anotherCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#anotherCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#anotherCarousel" data-slide-to="1"></li>
        <li data-target="#anotherCarousel" data-slide-to="2"></li>
        <li data-target="#anotherCarousel" data-slide-to="3"></li>
        <li data-target="#anotherCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="text-align:center;padding: 100px 0">
            <h1>Dad likes Cats</h1>
        </div>
        <div class="item active" style="text-align:center;padding: 100px 0">
            <h1>and Bats</h1>
        </div>
        <div class="item active" style="text-align:center;padding: 100px 0">
            <h1>and Mats</h1>
        </div>
        <div class="item active" style="text-align:center;padding: 100px 0">
            <h1>and Hats</h1>
        </div>
        <div class="item active" style="text-align:center;padding: 100px 0">
            <h1>and Eats</h1>
        </div>
    </div>
</div>
