﻿@{
    ViewData["Title"] = "Contact";
}

<h1>Dad doesn't like being disturbed. So don't disturb him at:</h1>
<address>
    One Two Three Fourth Street<br />
    Mars<br />
    <abbr title="Phone">P:</abbr>
    555.5555.5555555-55
</address>
